.title {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 80%;
  border: 1px solid gray;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  overflow: hidden;
}

.header {
  display: flex;
  padding: 1em;
}

.profile_picture {
  width: auto;
  height: 3rem;
  margin-right: 30px;
  border-radius: 50%;
}

.profile_username {
  font-size: 2rem;
}

.artwork {
  max-width: 100%;
}